body,
html {
  height: 100%;
  margin: 0;
  font-family: quicksand;
  background-color: #fcfbf7;
}

.bg-image {
  background-image: url("img/names.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.section1 {
  font-size: 32px;
  height: 60vh;
}

.section2 {
  /* background: linear-gradient(to left, #fcfbf7 30%, transparent 70%), url("img/paladnjaki_welcome.jpg"); */
  /* background-image: url("img/paladnjaki_welcome.jpg");
  background-repeat: no-repeat;
  background-size: contain; */
  height: 100vh;
}

.section2-msg {
  position: relative;
  top: 50px;
  white-space: pre;
  right: 50px;
  font-weight: bold;
  text-align: right;
  font-size: 30px;
}

.section3 {
  height: 50vh;
}

.section3-confirmation {
  font-size: 26px;
  color: #b7bfa0;
}

.section3-rsvp {
  position: relative;
  top: 30%;
  font-size: 40px;
  color: #53535a;
}

.section3-phones {
  position: relative;
  top: 40%;
  font-size: 20px;
  color: #53535a;
}

.section4 {
  height: 70vh;
}

.section4-galery {
  position: relative;
  top: 40%;
  font-size: 20px;
  color: #53535a;
}

h1, p {
  color: #53535a;
}

@font-face {
  font-family: butterline;
  src: url(./fonts/butterline.otf);
}

@font-face {
  font-family: quicksand;
  src: url(./fonts/Quicksand-VariableFont_wght.ttf);
}

.bar { 
  color: #dda036;
  padding: 1%;
}

.btn-custom {
  background-color: #b7bfa0;
}

.hr-lines:before{
  content:" ";
  display: block;
  height: 6px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 0;
  background: #dda036;
}

.hr-lines:after{
  content:" ";
  height: 6px;
  width: 30%;
  background: #dda036;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}

.hr-lines{
  position: relative;
  max-width: 80%;
  margin: 5% auto;
  text-align: center;
  font-size: 150%;
}

.vl {
  border-left: 3px solid #dda036;
  position: relative;
  left: 15%;
}

@media screen and (max-width: 900px) {
  .hr-lines:before {
    width: 13vw;
  }
  .hr-lines:after {
    width: 13vw;
  }
}

@media screen and (max-width: 500px) {
  .hr-lines:before {
    display: none;
  }
  .hr-lines:after {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .big-screens {
    display: none;
  }
}

@media screen and (min-width: 501px) {
  .small-screens {
    display: none;
  }
}

.timeline {
  font-size: 2.5vw;
}

@media screen and (max-width: 900px) {
  .timeline {
    font-size: 3vh;
  }
}

.arrow-container{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}

.arrow-1{
  width: 100px;
  height: 100px;
  background: #00BCD4;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
}

.arrow-2{
  width: 60px;
  height: 60px;
  background: #00BCD4;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
}

.arrow-2:before{
  width: 52px;
  height: 52px;
  content: "";
  border: 2px solid #006064;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.arrow-2 i.fa{
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #006064;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column1 {
  flex: 44.3%;
  max-width: 44.3%;
  padding: 0 4px;
}

.column2 {
  flex: 55.7%;
  max-width: 55.7%;
  padding: 0 4px;
}

.column3 {
  flex: 55.5%;
  max-width: 55.5%;
  padding: 0 4px;
}

.column4 {
  flex: 44.5%;
  max-width: 44.5%;
  padding: 0 4px;
  position: relative;
}

.column4 .column4-msg {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: white; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.column1 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column2 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column3 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column4 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column2 {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column3 {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .column4 {
    flex: 100%;
    max-width: 100%;
  }
}

.gallery-item {
  height: 90vh;
}